/* {"Jet":"333333","Turquoise":"48e5c2","White":"fcfaf9","Sand":"f3d3bd","Gray":"5e5e5e"} */

.app{
  background-color: #333333;
  color: #48e5c2;
}

.appletCollection {
  background-color: #333333;
  color: #48e5c2;
}

.applet {
  background-color: #333333;
  color: #48e5c2;

}